# model output folders
/dice_resnet/
/pokemon_resnet/
/crosscoder/
/crosscoder_base_resnet/

# interpolation outputs
/interpolated/

# WandB logs
/wandb/

# CrossCoder dataset
/activations/
/activations_layer4/
/activations_layer4_def_resnet/

# cache
__pycache__/

# test stuff
test.py