# model output folders
/dice_resnet/
/pokemon_resnet/
/crosscoder/

# interpolation outputs
/interpolated/

# WandB logs
/wandb/

# CrossCoder dataset
/activations/
/activations_layer4/

# cache
__pycache__/

# test stuff
test.py